*.bak
*.fo
*.gmo
*.la
*.lo
*.omf.out
*.orig
*.pyc
*.pyo
*.schemas
*~
.*.marks
.deps
.libs
.scm-links
COPYING
ChangeLog
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
INSTALL
Makefile
Makefile.in
TAGS
aclocal.m4
autom4te.cache
build*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
cscope.files
cscope.out
depcomp
gnucash-*.*.*.tar.*
gnucash-*.*.*/
install-sh
intl-scm/guile-strings.c
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
ltmain.sh
make-gnucash-potfiles
manifest.mf
missing
mkinstalldirs
share/
stamp-h1
swig-*.c
omf_timestamp
*.spec
*/*.html
*/*/*/*.html
*/*/*.html
*/*/fop.xconf
*/*/*trigger
guide/*/gnucash-guide
guide/*/gnc-docbookx.dtd
help/*/gnucash-help
help/*/gnc-docbookx.dtd
/.settings/
/.autotools
/.cproject
/.project
/nbproject
