# We filter only autotools artefacts.
# Use a separate build directory!
# For other purposes adjust "$XDG_CONFIG_HOME/git/ignore!

#absolute:
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/install-sh
/ltmain.sh
/missing
/build
/guide/pt/Auxiliary files/
/home/pmra/Documents/6.Translations/GnuCash/gnucash-docs/gnucash-docs/guide/pt/figures100

#relative:
Makefile.in
